<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.archermind.hdc.mapper.MachineRunTimeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.archermind.hdc.entity.MachineRunTime">
        <id column="id" property="id" />
        <result column="group_id" property="groupId" />
        <result column="equipment_name" property="equipmentName" />
        <result column="work_begin_time" property="workBeginTime" />
        <result column="run_time_length" property="runTimeLength" />
        <result column="wait_time_length" property="waitTimeLength" />
    </resultMap>

</mapper>
