<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.archermind.hdc.mapper.ProductionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.archermind.hdc.entity.Production">
        <id column="id" property="id" />
        <result column="group_id" property="groupId" />
        <result column="product_type" property="productType" />
        <result column="product_model" property="productModel" />
        <result column="planned_production" property="plannedProduction" />
        <result column="actual_production" property="actualProduction" />
        <result column="date" property="date" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
